<div fxFill fxLayout="column" class="login-wrapper">
  <div
    class="login-image"
    style="background-image: url('resources/fertileluna_background.png')"
  ></div>

  <div class="login-form">
    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
      <div class="login-error">
        @if (error) {
        {{ 'login.credentials.incorrect' | translate }}
        }
      </div>

      <h1>{{ 'login.label' | translate }}</h1>

      <mat-form-field [appearance]="'outline'">
        <input
          type="text"
          matInput
          formControlName="email"
          autocomplete="email"
          id="emailInput"
          required
        />
        <mat-label for="emailInput">{{ 'email' | translate }}</mat-label>
        <mat-error
          *ngIf="
            loginForm.controls['email'].invalid &&
            loginForm.controls['email'].touched
          "
        >
          <span>{{ 'email.required' | translate }}</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field [appearance]="'outline'">
        <input
          type="password"
          matInput
          formControlName="password"
          autocomplete="current-password"
          id="passwordInput"
          required
        />
        <mat-label for="passwordInput">{{ 'password' | translate }}</mat-label>
        <mat-error
          *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
          "
        >
          <span>{{ 'password.required' | translate }}</span>
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle color="primary" formControlName="remember">
        {{ 'remember.me' | translate }}
      </mat-slide-toggle>

      <div class="submit-button">
        <button
          mat-flat-button
          color="secondary"
          type="submit"
          [disabled]="loginForm.invalid || isLoading"
        >
          <span>{{ 'login.label' | translate }}</span>
        </button>
      </div>

      <div class="register-row">
        <span>{{ 'dont.have.an.account' | translate }}</span>
        <a mat-button href="/register">{{ 'sign.up.label' | translate }}</a>
      </div>
    </form>
  </div>
</div>
