<div
  fxFill
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1.5rem"
  class="mat-typography"
>
  <ng-container>
    <h1 fxLayoutAlign="center">{{ 'app.name' | translate }}</h1>
    <div class="login-container" fxLayout="row" fxLayoutAlign="center">
      <mat-card
        fxFlex="90%"
        fxFlex.sm="75%"
        fxFlex.md="50%"
        fxFlex.gt-md="40%"
        class="login-box"
      >
        <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
          <div class="login-error" [hidden]="!error || isLoading">
            {{ 'login.credentials.incorrect' | translate }}
          </div>
          <br />
          <div class="login-fields" fxLayout="column">
            <h1 fxLayoutAlign="center">{{ 'login.label' | translate }}</h1>
            <mat-form-field
              [hideRequiredMarker]="true"
              [appearance]="'outline'"
            >
              <input
                type="text"
                matInput
                formControlName="email"
                autocomplete="email"
                id="emailInput"
                required
              />
              <mat-label for="emailInput">{{ 'email' | translate }}</mat-label>
              <mat-error
                *ngIf="
                  loginForm.controls['email'].invalid &&
                  loginForm.controls['email'].touched
                "
              >
                <span>{{ 'email.required' | translate }}</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field
              [hideRequiredMarker]="true"
              [appearance]="'outline'"
            >
              <input
                type="password"
                matInput
                formControlName="password"
                autocomplete="current-password"
                id="passwordInput"
                required
              />
              <mat-label for="passwordInput">{{
                'password' | translate
              }}</mat-label>
              <mat-error
                *ngIf="
                  loginForm.controls['password'].invalid &&
                  loginForm.controls['password'].touched
                "
              >
                <span>{{ 'password.required' | translate }}</span>
              </mat-error>
            </mat-form-field>
            <mat-slide-toggle color="primary" formControlName="remember">{{
              'remember.me' | translate
            }}</mat-slide-toggle>
            <br />
            <br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loginForm.invalid || isLoading"
            >
              <!-- <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader> -->
              <span>{{ 'login.label' | translate }}</span>
            </button>
            <div
              class="register-row"
              fxLayout="row"
              fxLayoutAlign="center center"
            >
              <span>{{ 'register.without.account' | translate }}</span>
              <a mat-button href="/register">{{
                'register.label' | translate
              }}</a>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </ng-container>
</div>
