<div class="shell-container">
  <mat-toolbar class="toolbar-container">
    <div class="title">
      <h1 class="mat-headline-1">{{ 'app.name' | translate }}</h1>
    </div>
    <div class="user-avatar">
      <div class="user-dropdown">
        <mat-icon class="user-icon" [matMenuTriggerFor]="menu" tabindex="0">
          <mat-icon
            class="user-avatar"
            [style.background-image]="'url(resources/avatar_woman.png)'"
            alt="User Avatar"
          ></mat-icon>
        </mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <div class="bottom-nav-wrapper">
    <div class="bottom-nav-container">
      <div
        class="nav-button"
        [tabindex]="0"
        [ngClass]="{ selected: selectedTab === Navigation.HOME }"
        role="button"
        (click)="selectTab(Navigation.HOME)"
        (keydown.enter)="selectTab(Navigation.HOME)"
        (keydown.space)="selectTab(Navigation.HOME)"
        [routerLink]="['/home']"
      >
        <mat-icon>home</mat-icon>
        Home
      </div>
      <div
        class="nav-button"
        [ngClass]="{ selected: selectedTab === Navigation.HISTORY }"
        [tabindex]="1"
        role="button"
        (click)="selectTab(Navigation.HISTORY)"
        (keydown.enter)="selectTab(Navigation.HISTORY)"
        (keydown.space)="selectTab(Navigation.HISTORY)"
        [routerLink]="['/history']"
      >
        <mat-icon>show_chart</mat-icon>
        History
      </div>
      <div
        class="nav-button"
        [tabindex]="2"
        [ngClass]="{ selected: selectedTab === Navigation.SETTINGS }"
        role="button"
        (click)="selectTab(Navigation.SETTINGS)"
        (keydown.enter)="selectTab(Navigation.SETTINGS)"
        (keydown.space)="selectTab(Navigation.SETTINGS)"
        [routerLink]="['/settings']"
      >
        <mat-icon>settings</mat-icon>
        Settings
      </div>
    </div>
  </div>
</div>
